**/analog_notes/ImageIndex.json
**/html/*
**/python/CreateImageIndex.pyc
**/python/__init__.pyc
**/python/__pycache__/*
**/python/ReadAnalogItems.pyc
**/python/ReadDigitalNotes.pyc
**/python/ReadParticles.pyc
**/python/CreateHtmlNotes.pyc
